@page "/Counter"
<div class="Allcardcont">
    <div class="card-1">
        <div class="fonimg">
            <div class="card-header-1">
                <div class="card-avatar">
                    <img src="/img/krosh.jpg"/>
                </div>
                <h1 class="card-status">крош</h1>
            </div>
        </div>
    </div>
    <div class="card-1">
        <div class="fonimg">
            <div class="card-header-1">
                <div class="card-avatar">
                    <img src="/img/sovunya.jpg"/>
                </div>
                <h1 class="card-status">совунька</h1>
            </div>
        </div>
    </div>
    <div class="card-1">
        <div class="fonimg">
            <div class="card-header-1">
                <div class="card-avatar">
                    <img src="/img/karkar.jpg"/>
                </div>
                <h1 class="card-status">карыч</h1>
            </div>
        </div>
    </div>
    <div class="card-1">
        <div class="fonimg">
            <div class="card-header-1">
                <div class="card-avatar">
                    <img src="/img/barash.jpg"/>
                </div>
                <h1 class="card-status">барашек</h1>
            </div>
        </div>
    </div>
</div>
<a>111</a>
